/* body {
	background-color: rgb(22, 33, 41);
} */
/* header {
	background: url(../public/jelly.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center center;
} */

nav {
	height: 10vh;
}
.paralax_montiors {
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.bg-overlay-gredient {
	background: linear-gradient(
		32deg,
		rgba(18, 166, 181, 0.8) 0%,
		rgba(16, 12, 242, 0.7) 100%
	);
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}

.bg-overlay {
	background: rgba(0, 0, 0, 0.7);
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}

.bg-cta {
	position: relative;
	background-image: url(../public/bcg_slide-1.jpg);
	background-size: cover;
	background-position: center center;
}

.section {
	padding-top: 80px;
	padding-bottom: 60px;
	position: relative;
	background-color: #fff;
}

.about {
	padding: 6vw;
	margin-top: 40px;
}
.right {
	width: 60%;
}
.right img {
	border-radius: 50%;
	width: 100%;
}
.banner {
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 0 100px;
	margin: 0 auto;
	height: 90vh;
	max-width: 1000px;
}
.banner h1 {
	font-size: 20px;
	line-height: 1.1;
	margin-bottom: 10px;
	font-weight: 400;
}
.banner h2,
.banner h3 {
	font-size: clamp(40px, 8vw, 80px);
	font-weight: 600;
	line-height: 1.1;
}
.banner h3,
.banner h4 {
	color: #666666;
}
.banner h4 {
	font-size: 30px;
	line-height: 1.1;
	margin-top: 10px;
}
