.scrolled {
	position: fixed;
	top: 0;
	left: 0;
	background-color: white;
	box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.1);
}
.navbar {
	width: 100%;
	min-height: 6vh;
	padding: 20px;
	transition-timing-function: ease-in-out;
	transition: all 0.7s;
	z-index: 999;
	cursor: pointer;
}
.paralax_montiors {
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.bg-overlay-gredient {
	background: linear-gradient(
		32deg,
		rgba(18, 166, 181, 0.8) 0%,
		rgba(16, 12, 242, 0.7) 100%
	);
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}

.bg-overlay {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}

.bg-cta {
	position: relative;
	background-image: url(../public/marv.jpg);
	background-size: cover;
	background-position: center center;
}
/* about section */
.about {
	min-height: 90vh;
	padding: 6vw;
	margin-top: 0 auto;
}
.right img {
	border-radius: 50%;
	width: 100%;
}
.left h2 {
	color: #ff0077;
	font-weight: 600;
	font-size: 1.6rem;
	line-height: 1.875;
	margin-bottom: 0.3rem;
	letter-spacing: 0.4rem;
}
.left-text p {
	color: #666666;
	margin-bottom: 2rem;
}
.banner,
#contact {
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 20 100px;
	margin: 0 auto;
	min-height: 90vh;
	max-width: 1000px;
}
.banner .bi {
	animation: bounce 2s ease-in-out infinite;
	color: #ff0077;
}
.banner h1 {
	font-size: 20px;
	line-height: 1.1;
	margin-bottom: 10px;
	color: #ff0077;
	font-weight: 400;
}
.banner h2,
.banner h3 {
	font-size: clamp(40px, 8vw, 80px);
	font-weight: 600;
	line-height: 1.1;
}
.banner h3,
.banner h4 {
	color: #666666;
}
.banner h4 {
	font-size: 30px;
	line-height: 1.1;
	margin-top: 10px;
}
.banner span {
	font-size: 20px;
	margin-top: 40px;
	cursor: pointer;
}
#contact h2 {
	/* font-size: clamp(40px, 5vw, 60px); */
	font-weight: 600;
	color: #ff0077;
	font-size: 1.6rem;
	line-height: 1.875;
	margin-bottom: 0.3rem;
	letter-spacing: 0.4rem;
}
#contact p {
	margin: 30px auto;
	color: #fff;
}
.email-link {
	background-color: transparent;
	border: 1px solid #ff0077;
	border-radius: 5px;
	padding: 1.25rem 1.75rem;
	text-decoration: none;
	cursor: pointer;
	margin-top: 50px;
}
.email-link:hover {
	background-color: #ff0077;
	color: white;
	transform: scale(1.09);
}
#portfolio {
	padding: 10rem 0;
	background-color: #ebebeb;
	min-height: 90vh;
}
.section-intro {
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-bottom: 3.6rem;
	position: relative;
}
.section-intro h3 {
	font-size: 2.6rem;
	color: #313131;
	line-height: 1.25;
	margin-bottom: 1.2rem;
	font-weight: 500;
}
.portfolio-header h2 {
	color: #ff0077;
	font-weight: 600;
	font-size: 1.6rem;
	line-height: 1.875;
	margin-bottom: 0.3rem;
	letter-spacing: 0.4rem;
}

.box15 {
	position: relative;
	width: 50%;
}

.box15 img {
	width: 100%;
	height: auto;
}
.box15 .box-content {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transition: all 0.5s ease 0s;
}
.box15:hover .box-content {
	background-color: rgba(211, 211, 211, 0.8);
}
.box15 .box-content:after,
.box15 .box-content:before {
	content: "";
	width: 50px;
	height: 50px;
	position: absolute;
	opacity: 0;
	transform: scale(1.5);
	transition: all 0.6s ease 0.3s;
}
.box15 .box-content:before {
	border-left: 1px solid #040404;
	border-top: 1px solid #040404;
	top: 19px;
	left: 19px;
}
.box15 .box-content:after {
	border-bottom: 1px solid #040404;
	border-right: 1px solid #040404;
	bottom: 19px;
	right: 19px;
}
.box15:hover .box-content:after,
.box15:hover .box-content:before {
	opacity: 1;
	transform: scale(1);
}
.box15 .title {
	font-size: 16px;
	color: #000;
	margin: 0;
	position: relative;
	top: 0;
	opacity: 0;
	transition: all 1s ease 10ms;
}
.box15:hover .title {
	top: 35%;
	opacity: 1;
	transition: all 0.5s cubic-bezier(1, -0.53, 0.405, 1.425) 10ms;
}
.box15 .title:after {
	content: "";
	width: 0;
	height: 1px;
	background: #040404;
	position: absolute;
	bottom: -8px;
	left: 0;
	right: 0;
	margin: 0 auto;
	transition: all 1s ease 0s;
}
.box15:hover .title:after {
	width: 80%;
	transition: all 1s ease 0.8s;
}
.box15 .icon {
	width: 100%;
	margin: 0 auto;
	position: absolute;
	bottom: 0;
	opacity: 0;
	transition-duration: 0.6s;
	transition-timing-function: cubic-bezier(1, -0.53, 0.405, 1.425);
	transition-delay: 0.1s;
}
.box15:hover .icon {
	bottom: 39%;
	opacity: 1;
}
.box15 .icon li {
	display: inline-block;
}
.box15 .icon li a {
	display: block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 50%;
	font-size: 18px;
	color: #000;
	border: 1px solid #000;
	margin-right: 5px;
	transition: all 0.3s ease-in-out 0s;
}
.box15 .icon li a:hover {
	background: #000;
	color: #fff;
}
@media only screen and (max-width: 990px) {
	.box15 {
		margin-bottom: 30px;
	}
}

.card {
	/* position: relative; */
	/* top: 50%;
	left: 50%; */
	width: 400px;
	height: 300px;
	transform: translate(-50%, -50%);
	transform-style: preserve-3d;
	perspective: 600px;
	transition: 0.5s;
}
.card:hover .card-front,
.card:hover .card-front2,
.card:hover .card-front3,
.card:hover .card-front4 {
	transform: rotateX(-180deg);
}
.card:hover .card-back {
	transform: rotateX(0deg);
}

.card-front {
	height: 100%;
	width: 100%;
	background-image: url(../public/shooter.png);
	/* background-position: 50% 50%;
	background-size: cover; */
	position: absolute;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	/* top: 0;
	left: 0; */
	background-color: #fff;
	backface-visibility: hidden;
	transform: rotateX(0deg);
	transition: 0.5s;
}

.card-front2 {
	height: 100%;
	width: 100%;
	background-image: url(../public/bookdukka.png);
	/* background-position: 50% 50%;
	background-size: cover; */
	position: absolute;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	/* top: 0;
	left: 0; */
	background-color: #fff;
	backface-visibility: hidden;
	transform: rotateX(0deg);
	transition: 0.5s;
}
.card-front3 {
	height: 100%;
	width: 100%;
	background-image: url(../public/reels.png);
	/* background-position: 50% 50%;
	background-size: cover; */
	position: absolute;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	/* top: 0;
	left: 0; */
	background-color: #fff;
	backface-visibility: hidden;
	transform: rotateX(0deg);
	transition: 0.5s;
}
.card-front4 {
	height: 100%;
	width: 100%;
	background-image: url(../public/cars.png);
	/* background-position: 50% 50%;
	background-size: cover; */
	position: absolute;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	/* top: 0;
	left: 0; */
	background-color: #fff;
	backface-visibility: hidden;
	transform: rotateX(0deg);
	transition: 0.5s;
}

.card-back {
	height: 100%;
	width: 100%;
	position: relative;
	/* top: 0;
	left: 0; */
	background-color: #000000;
	backface-visibility: hidden;
	transform: rotateX(180deg);
	transition: 0.5s;
	color: #ffffff;
	text-align: center;
}
/* .card-back h2 {
	margin: 60% auto 35% auto;
	font-size: 26px;
}
.card-back span {
	font-size: 20px;
}
.card-back a {
	height: 20px;
	width: 20px;
	padding: 5px 5px;
	border-radius: 4px;
	line-height: 20px;
} */
.card-back:hover {
	color: #fff;
	background-color: #111827;
	/* display: flex;
	flex-direction: column;
	justify-content: center; */
}
.content {
	/* padding: 6vw; */
	width: 94%;
	max-width: 1140px;
	margin: 40px auto;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: 1fr;
	/* grid-column-gap: 0px;
	grid-row-gap: 0px;
	overflow: hidden; */
}
/* .card-columns {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 10px;
	overflow: hidden;
} */
.icon img {
	height: 75%;
}
.icon {
	width: 22%;
	max-width: 140px;
	max-height: 140px;
	/* margin: 2.5% 5%; */
	/* text-align: center; */
}
