.scrolled {
	position: fixed;
	top: 0;
	left: 0;
	background-color: white;
}
.navbar {
	width: 100%;
	min-height: 6vh;
	padding: 20px 100px;
	transition-timing-function: ease-in;
	transition: all 0.7s;
	z-index: 1;
}
.paralax_montiors {
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.bg-overlay-gredient {
	background: linear-gradient(
		32deg,
		rgba(18, 166, 181, 0.8) 0%,
		rgba(16, 12, 242, 0.7) 100%
	);
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}

.bg-overlay {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}

.bg-cta {
	position: relative;
	background-image: url(../public/marv.jpg);
	background-size: cover;
	background-position: center center;
}
/* about section */
.about {
	min-height: 90vh;
	padding: 6vw;
	margin-top: 0 auto;
}
.right img {
	border-radius: 50%;
	width: 100%;
}
.left-text p {
	color: #666666;
	margin-bottom: 2rem;
}
.banner,
#contact {
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 0 100px;
	margin: 0 auto;
	height: 90vh;
	max-width: 1000px;
}
.banner h1 {
	font-size: 20px;
	line-height: 1.1;
	margin-bottom: 10px;
	font-weight: 400;
}
.banner h2,
.banner h3 {
	font-size: clamp(40px, 8vw, 80px);
	font-weight: 600;
	line-height: 1.1;
}
.banner h3,
.banner h4 {
	color: #666666;
}
.banner h4 {
	font-size: 30px;
	line-height: 1.1;
	margin-top: 10px;
}
.banner span {
	font-size: 20px;
	margin-top: 40px;
	cursor: pointer;
}
/* #contact {
	min-height: 90vh;
	outline: 1px solid green;
} */
#contact h2 {
	font-size: clamp(40px, 5vw, 60px);
	font-weight: 600;
}
#contact p {
	margin: 30px auto;
	color: #666666;
}
.email-link {
	color: black;
	background-color: transparent;
	border: 1px solid black;
	border-radius: 5px;
	padding: 1.25rem 1.75rem;
	text-decoration: none;
	cursor: pointer;
	margin-top: 50px;
}
.email-link:hover {
	background-color: black;
	color: white;
	transform: scale(1.09);
}
